<!DOCTYPE html>
<html>
<body>
    <div th:fragment="sidebar" class="p-3">
        <!-- Sidebar content -->
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="/supplier">Supplier</a></li>
                <li class="nav-item"><a class="nav-link" href="/supplier-quotation">Supplier Quotation</a></li>
                <li class="nav-item"><a class="nav-link" href="/purchase-orders">Purchase Order</a></li>
                <li class="nav-item"><a class="nav-link" href="/purchase-invoices">Purchase Invoices</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
